[user]
    name = 何庆 Ching He
    email = heqing@rool.me
    signingkey = A442A8BD5C05A571
[commit]
    gpgsign = true
[init]
    defaultBranch = main
[tag]
    gpgsign = true
[includeIf "gitdir:~/repos/debian/"]
    path = ~/.gitconfig-debian
