[user]
	name = 何庆 Ching He
	sigingkey = A442A8BD5C05A571
	email = heqing@rool.me
[commit]
	gpgsign = true
[init]
        defaultBranch = main
[includeIf "gitdir:~/repos/debian/"]
        path = ~/.gitconfig-debian
