[user]
	email = heqing@rool.me
	name = qing
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILsdEdNICFO5/J/OxxVd7mwc2POGom/ctq6Uxsb+jMiy
[gpg]
	format = ssh
[gpg "ssh"]
	program = /opt/1Password/op-ssh-sign
[commit]
	gpgsign = true
[init]
	defaultBranch = main
